body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.body {
  background: linear-gradient(
    290.74deg,
    #5eaaaf 6.83%,
    #2f2e6c 52.53%,
    #251f3e 85.61%
  );

  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
.Custom_Cancel > .sa-button-container > .cancel {
  background-color: #dd6b55;
  border-color: #dd6b55;
}
.Custom_Cancel > .sa-button-container > .cancel:hover {
  background-color: #dd6b55;
  border-color: #dd6b55;
}
.sideM {
  z-index: 4;
  /* width: auto;
  height: auto; */
  /* position: fixed; */
}
.backGroundDiv {
  background-color: #0f103f;
  width: 100%;
  height: auto;
  left: 0vh;
  top: 7%;
}

.divBox {
  box-sizing: border-box;
  position: absolute;
  width: 130vh;
  height: 87vh;
  left: 25vw;
  top: 6vh;
  background: rgba(47, 47, 138, 0.247);
  border-radius: 30px;
  overflow: hidden;
  font-size: 1px;
  backdrop-filter: blur(2px);
  border: 2px solid rgba(0, 0, 0, 0.075);
}
.textBox {
  min-width: 15vw;
  max-width: 22vw;
  height: 1px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vh;
  line-height: 130%;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  left: 6%;
  margin-top: 5%;
}
.girlCelu {
  position: absolute;
  width: 40vh;
  height: auto;
  overflow: hidden;
  bottom: 18vh;
}
.diamantitos {
  z-index: 3;
  background: radial-gradient(
    28% 38% at 52.85% 47.9%,
    rgba(28, 25, 204, 0.858) 7.29%,
    rgba(61, 13, 250, 0) 100%
  );
  mix-blend-mode: lighten;
  position: absolute;
  width: 50vh;
  height: 45vh;
  left: 152vh;
  top: 60vh;
  display: none;
}
.imageBox {
  /* background-color: #C961DE; */
  width: 22vw;
  height: 30vh;
  position: absolute;
  margin-top: -7vh;
  right: -82vh;
}
.imgSvg,
.imgRender {
  width: 16vw;
  height: 30vh;
  border-radius: 10%;
  border: 1vh solid rgba(47, 47, 138, 0.6);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  object-fit: cover;
}

.premium {
  width: 16vw;
  height: 30vh;
  border-radius: 10%;
  border: 1vh solid rgba(47, 47, 138, 0.6);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(180, 17, 17, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(163, 19, 19, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(226, 5, 255, 0.623);
  object-fit: cover;
}

.buttonL {
  position: relative;
  left: 42vh;
  top: 78vh;
  box-sizing: border-box;
  /* padding: 1.5vh; */
  width: 10vw;
  height: 5vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 23px;
  cursor: pointer;
  margin-right: 0.9rem;
  border: white;
}
.buttonL:disabled {
  box-sizing: border-box;
  cursor: default;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 0.7vw;
  line-height: 2vw;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
.buttonBack {
  position: relative;
  left: 21vw;
  top: 78vh;
  box-sizing: border-box;
  /* padding: 1.5vh; */
  width: 10vw;
  height: 5vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 23px;
  cursor: pointer;
  margin-right: 0.7rem;
  border: white;
}

.buttonBack:hover,
.buttonL:hover:enabled {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
  border: white;
}

.divButton {
  display: flex;
}

.svg {
  width: 27vw;
  height: auto;
  z-index: 1000;
  margin-bottom: -18vh;
}

/* width="520" height="1039"  */
.link {
  color: #ffffff;
  text-decoration: none;
}
.link span {
  margin-left: 1vh;
}

/*------------PROPUESTA----------------------*/
.bodyPropuesta {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  color: wheat;
  text-align: center;
  /* margin-top: 20vh; */
  font-family: Poppins;
  background: linear-gradient(
    290.74deg,
    #5eaaaf 6.83%,
    #2f2e6c 52.53%,
    #251f3e 85.61%
  );
  height: 100vh;
}
.conteiner {
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(245, 222, 179, 0.226);
  -webkit-box-shadow: 10px 10px 18px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 18px -6px rgba(0, 0, 0, 0.75);
}
.conteiner {
  background-color: rgba(255, 255, 255, 0.404);
  border: 1px solid rgb(223, 70, 243);
  border-radius: 20px;
}

.buttonVolver {
  border: white;
  position: relative;
  box-sizing: border-box;
  width: 10vw;
  height: 5vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 23px;
  cursor: pointer;
  margin-right: 0.7rem;
  border: white;
}
.buttonVolver:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.buttonPago {
  border: white;
  width: 10vw;
  height: 5vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.1vw;
  line-height: 23px;
  cursor: pointer;
}
.buttonPago:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.buttonsLogeado {
  /* display: flex; */
  display: flex;
  flex-direction: row;
}

.buttonSub {
  position: absolute;
  left: 110vh;
  top: 1vh;
  box-sizing: border-box;
  /* padding: 1.5vh; */
  width: 8vw;
  height: 3vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.3vh;
  /* line-height: 23px; */
  cursor: pointer;
  margin-right: 0.9rem;
  text-decoration: none;
}

.buttonSub:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.bodyButtons {
  display: flex;
}
.bodyIframe {
  position: fixed;
  /* border-radius: 100px; */
  background-color: rgba(0, 0, 0, 0.445);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  /* display: none; */
  backdrop-filter: blur(2px);
}
.containerIframe {
  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: rgba(221, 98, 245, 0.993) 1px solid;
  padding: 1.5vh;
  background-color: rgba(79, 80, 80, 0.317);
  width: 100vh;
  height: 75vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.iframe {
  width: 100vh;
  height: 75vh;
  border-radius: 20px;
  overflow: hidden;
  /* transform: translateY(1px); */
  z-index: 9;
}
.iframe::-webkit-scrollbar {
  display: none;
}

.bodydelosbodys {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bodyIframeNone {
  display: none;
}

.Icon {
  position: absolute;
  float: right;
  background: none;
  border: none; /* border: 1px solid red; */
  width: 1.5vw;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 100vh;
  margin-bottom: 75vh;
  font-weight: 800;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
}
.Icon span {
  margin-top: 0.5vh;
  color: rgba(255, 255, 255, 0.856);
  font-size: 2.8vh;
}

.lds_ring {
  margin: auto;
  margin-bottom: 15vh;

  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* width: 8vw;
  height: 16vh; */
  z-index: 1;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12vh;
  height: 12vh;
  margin: 0.8vh;
  border: 0.8vh solid #0f103f02;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #e7e7ec transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------ ACA EMPIEZA EL STYLE DE LA CARD DE CONTRATOS----------- */

.buttonDetalle {
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 23px;
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  margin-left: 110vh;
  margin-top: 3vh;
}

.buttonDetalle:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.label {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* .spanMail {
  margin-top: 4px
} */

.divData > span,
.divData {
  display: flex;
  font-size: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 12px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.divLinkedin {
  color: #ffffff;
  text-decoration: none;
}
.divNumerico {
  margin-bottom: 12px;
}
.nombre {
  font-weight: 900;
  font-size: 32px;
}

.buttonDetalle {
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 23px;
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  margin-left: 110vh;
  margin-top: 3vh;
}

.inputForm {
  display: flex;
}

.divDataForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.divDescription {
  text-align: center;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 8px;
  margin: 2vh -10vh;
  /* min-height: 17vh; */
  /* min-width: 47vh; */
}

.buttonVolverCOntrato {
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 2.1vw;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 23px;
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  margin-left: 110vh;
  margin-top: 3vh;
}
.divButtons {
  margin-top: 40px;
}

.divFormGen {
  display: flex;
  gap: 15vh;
}

.textArea {
  /* background-color:  #a9a9a9; */
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  text-align: center;
}

/*------ ACA EMPIEZA EL CHECK----------- */
.divVisible {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -10vh;
}
.divVisible label {
  font-size: 2vh;
  margin-right: 1vh;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider_round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider_round:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider_round {
  background-color: #2196f3;
}

input:focus + .slider_round {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider_round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider_rounds */
.slider_round {
  border-radius: 34px;
}

.slider_round:before {
  border-radius: 50%;
}

.scrollContracts {
  background: none;
  border: none;
  width: 5vh;
  color: wheat;
  /* position: absolute; */
  font-size: 4vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divScrollContracts {
  /* left: 6vw; */
  margin-top: 94vh;
  animation: MoveUpDown 0.8s linear infinite;
  position: relative;
  left: 0;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 1vh;
  }
}
.buttonTop {
  position: fixed;
  bottom: 6vh;
  right: 3vw;
  z-index: 9999;
}

.todosInput {
  text-align: center;
}

/* ------carta de contrato en detalle de usuario---------- */

/* .back{ */
  /* background-color: #813c8f; */

/* } */

.divCardContrato {
  background: rgba(47, 47, 138, 0.247);
  backdrop-filter: blur(2px);
  border: 2px solid rgba(0, 0, 0, 0.075);
  width: 67vw;
  height: 20vh;
  margin-left: 30vh;
  margin-top: 10vh;
  border-radius: 30px;
  overflow: hidden;
  backdrop-filter: blur(2px);
  border: 2px solid rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: column;
}

.textCardContrato {
  max-height: 20vh;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 143.2%;
  color: #ffffff;
  z-index: 1;
  width: 30vw;
  height: 1px;
  margin-top: 2%;
  margin-left: 10vh;
}

/* -------------------------------------------------------- */


/* ---------- este es el estilo de las navigation tabs----------- */
.buttonContratitos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  margin-left: 9vw;
  margin-top: 6vh;
  
 
  }

  .button1{
    border-radius: 2vh;
    border-bottom-right-radius: 0vh;
    border-top-left-radius: 0vh;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    border: none;
    font-size: 2.5vh;
    /* border-bottom: none;
    border-left: none; */
    background: linear-gradient(
      290.74deg,
      #5eaaaf 6.83%,
      #2f2e6c 52.53%,
      #251f3e 85.61%
    );
  }

  
  .button2{
    border-radius: 2vh;
    border-bottom-right-radius: 0vh;
    border-top-left-radius: 0vh;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    /* border-bottom: none;
    border-left: none; */
    font-size: 2.3vh;
    border: none;
    background: linear-gradient(
      290.74deg,
      #5eaaaf 6.83%,
      #2f2e6c 52.53%,
      #251f3e 85.61%
    );
  }

  
  .button3{
    border-radius: 2vh;
    border-bottom-right-radius: 0vh;
    border-top-left-radius: 0vh;
    cursor: pointer;
    width: 25vw;
    height: 8vh;
    /* border-bottom: none;
    border-left: none; */
    font-size: 2.5vh;
    border: none;
    background: linear-gradient(
      290.74deg,
      #5eaaaf 6.83%,
      #2f2e6c 52.53%,
      #251f3e 85.61%
    );
    
  }

