.button {
  background: none;
  border: none;
  color: wheat;
  width: 5vh;
  border-radius: 50%;
  /* background-color: white; */
  cursor: pointer;
  position: absolute;
  font-size: 4vh;
  animation: MoveUpDown 0.6s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 0.5vh;
  }
}
