.containerPages {
  /* background-color: red; */
  margin-right: 4rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2vh;
}

.containerPages select {
  font-family: "Poppins";
  border-radius: 10px;
  border: 2px solid black;
  color: #0f103f;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2vh;
  margin-right: 0.3vw;
  width: 2.2vw;
  font-weight: bold;
  text-shadow: 0px 0px 1px #1c1c65;
  box-shadow: 0px 0px 1px 1px #797779;
  margin-bottom: 0.6vh;
  cursor: pointer;
  font-size: 2vh;
  color: #c961deda;
}
.containerPages option {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  text-shadow: 0px 0px 1px #1c1c65;
  cursor: pointer;
}
.containerPages label {
  text-shadow: 0px 0px 1px #1c1c65;
  color: #c961deda;
  font-weight: bold;
  font-size: 2vh;
  margin-right: 0.5vw;
}
@media screen and (max-width: 1400px) {
  .containerPages {
    /* font-size: 0.9rem; */
    margin-right: 2rem;
  }
}
