/* Download CV Btn */

.possitionL {
  top: 55%;
  position: absolute;
  margin-left: 50%;
}

.buttonL {
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  width: 25vh;
  height: 7vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  align-items: center;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}
.buttonL:hover {
  transition-delay: 0.2s;
  transition: 0.6s;
  transform: scale(1.1);
  cursor: pointer;
}

.buttonLg:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.possitionLg {
  top: 55%;
  position: absolute;
  margin-left: 35%;
}
.link {
  text-decoration: none;
}
.buttonLg {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 25vh;
  height: 7vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  cursor: pointer;
}
