/* Download CV Btn */

.possitionL{
    top: 55%;   
    position: absolute;
    margin-left: 50%;
}

.buttonL{
box-sizing: border-box;
padding: 10px;
gap: 10px;
width: 150px;
height: 40px;
background: linear-gradient(101.81deg, #C961DE 25.84%, #3645A0 98.95%);
border-radius: 30px;
color: #FFFFFF;
font-family: 'Poppins';
font-weight: 400;
font-size: 17px;
align-items: center;
text-align: center;
line-height: 26px;
}

.possitionLg{
    top: 55%;   
    position: absolute;
    margin-left: 40%;

}

.buttonLg{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 150px;
height: 40px;
background: rgba(255, 255, 255, 0.3);
border-radius: 30px;
text-align: center;
color: #FFFFFF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
}