.body {
  background-color: #28223f;
  font-family: Montserrat, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}

.verificacionT {
  color: rgb(9, 255, 0);
}
.verificacionF {
  color: red;
}
.picture {
  border-radius: 50%;
  width: 5vw;
}
.container h3 {
  margin: 10px 0;
}
.container h6 {
  margin: 5px 0;
  text-transform: uppercase;
}
.container {
  background-color: #231e39;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: relative;
  min-width: 20vw;
  max-width: 100%;
  height: 40vh;
  max-height: 35vh;
  text-align: center;
  line-height: 3vh;
}

.container .picture {
  border: 1px solid rgb(153, 142, 142);
  border-radius: 50%;
  padding: 7px;
  min-height: 9vh;
  max-height: 9vh;
  min-width: 4vw;
}

.addImg {
  /* background-color: red; */
  display: none;
}
.divInputImg {
  margin-bottom: 22vh;
  font-size: 1.1vw;
  border: 1px solid rgb(153, 142, 142);
  cursor: pointer;
  background-color: rgba(230, 220, 220, 0.082);
  color: #c961de;
  border: none;
}

.buttons {
}

.buttonPrimary {
  margin-right: 0.4vw;
  background-color: #c961de;
  border: 1px solid #c961de;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  cursor: pointer;
}
.buttonSecondary {
  cursor: pointer;
  background-color: #c961de;
  border: 1px solid #c961de;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
  background-color: transparent;
  color: #b1b1b1;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
}
.email p {
  margin-left: 0.4vw;
}

.barra span {
  width: 25%;
}
.barra {
  top: 1vh;
  height: 0.5vw;
  position: relative;
  background: #555;
  border-radius: 0.8vw;
  padding: 0.2vw;
}
.barra > span {
  display: block;
  height: 100%;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  background-color: #0f103f8e;
  position: relative;
  overflow: hidden;
  animation: prog 3.2s ease-in;
  animation-iteration-count: infinite;
}
@keyframes prog {
  0% {
    width: 0%;
    /* background-color: rgb(240, 255, 104); */
  }
  100% {
    width: 100%;
  }
}
