.backMenu {
  z-index: 8;
  position: fixed;
  left: 0px;
  top: 0px;
  border-radius: 25%;
  margin-top: 15vh;
  animation-duration: 1s;
  -webkit-animation-duration: 0.8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-iteration-count: 1;
  -webkit-animation: slideDown 0.5s normal forwards;
  -moz-animation: slideDown 0.5s normal forwards;
  -o-animation: slideDown 0.5s normal forwards;
}
.backMenuBug {
  z-index: 8;
  position: fixed;
  left: 0px;
  top: 0px;
  border-radius: 25%;
  margin-top: 15vh;
  visibility: visible !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes hover {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.backMenu2 {
  z-index: 8;
  position: absolute;
  border-radius: 25%;
  margin-top: 75vh;
  animation-iteration-count: 1;
  /* margin-top: 15vh; */
}

.path {
  cursor: pointer;
}
.svg {
  width: 9.7vh;
  height: 78vh;
  pointer-events: fill;
}
.divSvg {
  position: absolute;
  z-index: -1;
  background-color: red;
  height: 100vh;
  width: 100vh;
}
/* .iconHome {
  background-color: red;
  width: 10rem;
  color: red;
  position: absolute;
  margin-top: 10vh;
} */
.svg:hover,
.svg:focus {
  transition: 0.6s;
  width: 10vh;
}

.buttonHome {
  background: none;
  border: none;
}
.vectorHome {
  position: absolute;
  left: 2%;
  right: 8.33%;
  top: 15%;
  bottom: 14.58%;
  background: none;
}
.vectorAbout {
  position: absolute;
  left: 2%;
  right: 16%;
  top: 30%;
  bottom: 16.67%;
}
.buttonAbout {
  background: none;
  border: none;
}
.vectorPortfolio {
  position: absolute;
  left: 2%;
  right: 9%;
  top: 47%;
  bottom: 10.42%;
}
.buttonPortfolio {
  background: none;
  border: none;
}
.vectorContact {
  position: absolute;
  left: 2%;
  right: 8.33%;
  top: 60%;
  bottom: 10.42%;
}
.buttonContact {
  background: none;
  border: none;
}
.vectorSearch {
  position: absolute;
  left: 2%;
  right: 8.33%;
  top: 75%;
  bottom: 10.42%;
}
.buttonSearch {
  background: none;
  border: none;
}
.buttonScrollOff {
  display: none;
}
