* {
  margin: 0;
  padding: 0;
}

.body {
  /* position: absolute; */
}

::-webkit-scrollbar {
  display: none;
}

.luz {
  position: absolute;
  width: 620px;
  height: 620px;
  /* max-height: 620px; */
  top: 115vh;
  left: 70vh;
  background: radial-gradient(
    54.4% 54.4% at 31.2% 52%,
    rgba(41, 84, 163, 0.6) 0%,
    rgba(15, 16, 63, 0.6) 100%
  );
  filter: blur(200px);
}
.diamante {
  position: absolute;
  top: 98vh;
  left: 90vh;
  width: 48vh;
  height: 51vh;
  z-index: 99;
  opacity: 0.8;
}
.luzDiamante {
  position: absolute;
  width: 320px;
  height: 320px;
  /* max-height: 620px; */
  top: 130vh;
  left: 90vh;
  /* background-color: red; */
  background: radial-gradient(
    54.4% 54.4% at 31.2% 52%,
    rgb(41, 84, 163) 0%,
    rgb(15, 16, 63) 100%
  );
  filter: blur(200px);
  z-index: 98;
  /* display: none; */
}

.circulo {
  position: relative;
  z-index: 999;
}
.circulos {
  position: relative;
  z-index: 3;
}

.divTextHome {
  position: absolute;
  max-width: 20vw;
  min-height: 35vh;
  left: 43.5vw;
  top: 145vh;
  z-index: 99;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 26px;
  color: #ffffff;
  font-family: "Poppins";
  /* background-color: red; */
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.divTextHome p {
  font-size: 1vw;
}
.sidemenu {
  position: absolute;
  width: 5.8vw;
  height: 111vh;
  left: -1px;
  top: 25vh;

  /* background: rgba(255, 255, 255, 0.4); */
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px 50px 50px 0px;
}
.button1 {
  position: absolute;
  z-index: 999;
  background-color: red;
  color: blue;
  cursor: pointer;
}

.buttonTop {
  position: fixed;
  bottom: 6vh;
  right: 3vw;
  z-index: 9999;
}

.buttonTopStyle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 109, 226);
  color: rgb(255, 109, 226);
  background-color: white;
  cursor: pointer;
}

.buttonDown {
  background: none;
  border: none;
  width: 5vh;
  color: wheat;
  /* position: absolute; */
  font-size: 4vh;
  cursor: pointer;
}

.divButtonDown {
  /* left: 6vw; */
  margin-top: 28vh;
  animation: MoveUpDown 0.8s linear infinite;
  position: relative;
  left: 0;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 1vh;
  }
}
