* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: #0f103f;
  max-height: 100vh;
  height: 100vh;
}

.girl {
  position: absolute;
  top: 100vh;
  left: 65vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 620px;
  height: 620px;
  overflow: hidden;
}
.luz {
  position: absolute;
  width: 620px;
  height: 620px;
  /* max-height: 620px; */
  top: 115vh;
  left: 70vh;
  background: radial-gradient(
    54.4% 54.4% at 31.2% 52%,
    rgba(41, 84, 163, 0.6) 0%,
    rgba(15, 16, 63, 0.6) 100%
  );
  filter: blur(200px);
}
.diamante {
  position: absolute;
  top: 80vh;
  left: 90vh;
  width: 48vh;
  height: 51vh;
}
.luzDiamante {
  position: absolute;
  width: 320px;
  height: 320px;
  /* max-height: 620px; */
  top: 110vh;
  left: 90vh;
  background: radial-gradient(
    54.4% 54.4% at 31.2% 52%,
    rgb(41, 84, 163) 0%,
    rgb(15, 16, 63) 100%
  );
  filter: blur(200px);
}
