.button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 109, 226);
  color: rgb(255, 109, 226);
  /* background-color: white; */
  cursor: pointer;
  position: absolute;
}
