.buttonPaged2,
.button {
  font-family: "Poppins";
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 0.3vw;
  width: 2vw;
  font-weight: bold;
  text-shadow: 0px 0px 1px #1c1c65;
  box-shadow: 0px 0px 1px 1px #797779;
  margin-bottom: 0.6vh;
  cursor: pointer;
  font-size: 2vh;
}

.buttonPaged2 {
  color: #732f80da;
}
.button {
  color: #c961deda;
}

.buttonPaged2:disabled,
.button:disabled {
  cursor: default;
  font-family: "Poppins";
  border-radius: 10px;
  color: #4c4a4a;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2rem;
  transition: 0.3s;
  margin-right: 0.3vw;
  font-size: 2vh;
}
.body {
  margin-right: 5.5vw;
}

/* @media screen and (max-width: 1400px) {
  .buttonPaged2:disabled,
  .button:disabled,
  .buttonPaged2,
  .button {
    font-size: 0.8rem;
  }
} */
