.divcarhome {
  padding-top: 20vh;
  height: 100vh;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -10vh;
 
}
.bodyCard {
  z-index: 99;
  margin-top: 20vh;

}
.CArd{
  margin-top: 45vh;
}
.titlew {
  /* position: absolute;
width: 260px;
height: 45px;
left: 513px;
bottom: -40vh; */
  position: relative;
  /* left: 45vw; */
  /* top: 220vh; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 4vh;
  line-height: 45px;
  color: #ffffff;

  max-height: 5vh;
}
.circulos {
  /* position: absolute; */
  z-index: 3;
  bottom: 10vh;
}
