/* BG Small Circle */
.body {
  /* display: flex; */
  overflow: hidden;
  /* background-color: red; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left: 22vw;
  height: 65vh;
  margin-top: 15rem;
}

.circulos {
  /* bottom: -110vh; */
  /* z-index: 1; */
  /* max-width: 900px; */
  /* background-color: beige; */
}

.imgCirculo {
  position: relative;
  z-index: 1;
  width: 60vw;
  height: 85vh;
}
