.imgChicos {
  background-size: 50vh;
  position: absolute;
  width: 85vh;
  height: 65vh;
  top: -10vh;
  left: -20vh;
  background: radial-gradient(
    33.4% 33.4% at 31.2% 44.8%,
    rgba(41, 84, 163, 0.6) 0%,
    rgba(15, 16, 63, 0.6) 98.34%
  );
}
