
.imgChicos{
    background-size: 50vh;
    position: absolute;
    width: 450px;
    height: 450px;
    top: 0vh;
    left: 0vh;
    background: radial-gradient(33.4% 33.4% at 31.2% 44.8%, rgba(41, 84, 163, 0.6) 0%, rgba(15, 16, 63, 0.6) 98.34%);

}