.bodyLanding {
  overflow: hidden;
}
.textLanding {
  position: absolute;
  width: 50vw;
  /* left: 50vh; */
  top: 32vh;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  min-height: 50vh;
}

.text1landing,
.text1landing2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5vw;
  background: -webkit-linear-gradient(
    rgb(97, 18, 150),
    rgb(150, 18, 252),
    rgb(62, 49, 249)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 9vh;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* width: 130%; */
  min-width: 100vw;
  letter-spacing: 1.5px;
  margin-left: -5%;
  text-align: center;
}

.text1landing {
  text-align: center;
  /* margin-left: 5%; */
}

.text1landing2 {
  font-size: 1.8vh;
  letter-spacing: 1px;
  text-shadow: 0px 0px 2px #cf2ac0;
  font-style: italic;
  margin-left: 0;
  text-align: center;
}

.programax {
  background: linear-gradient(135deg, #cf2ac0 0%, #9b2cce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-style: italic;
}

.puntos {
  letter-spacing: 4px;
  text-shadow: 0px 0px 2px #cf2ac0;
}

.buttonDown {
  background: none;
  border: none;
  width: 5vh;
  color: wheat;
  /* background-color: red; */
  left: 50vw;
  top: 90vh;
  position: absolute;
  font-size: 4vh;
  cursor: pointer;
}
.divbuttonDown {
  /* position: relative; */
}
