.landing{
    background-color:#0f103f;
    max-height: 100vh;
    height: 100vh;
}
.planetas{
    background-size: 80vh;
    position: absolute;
    width: 1115.35px;
    height: 625.66px;
    top: 10vh;
    left: 55vh;
   
}
.imgPlanet{
    width: 950px;
    height: 620px;
    

}
