.body {
  /* position: absolute; */

  background: #0f103f;
  height: auto !important;
  min-height: 100%;
  width: auto !important;

  /* width: 100%; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  min-width: 130vh;
  min-height: 60vh;
  padding: 1rem;
  /* gap: 2rem; */
  margin-left: 12vh;
}

.linkCard {
  text-decoration: none;
}
.paginado {
  border-start-end-radius: 20rem;
  border-start-start-radius: 20rem;
  height: 6vh;
  width: 100vh;
  position: fixed;
  display: flex;
  top: 95vh;
  align-items: center;
  justify-content: center;
  margin-left: 50vh;
  /* opacity: 0.3; */
  background-color: rgba(255, 255, 255, 0.523);
  font-family: "Poppins";
  box-shadow: 0px 10px 10px 16px #c961deda;
}
.cantPage {
  display: flex;
}
.paged {
}
