.body {
  background-color: #0f103f;
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */
}
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  min-width: 1220px;
  min-height: 570px;
  padding: 1rem;
  /* gap: 2rem; */
  margin-left: 10vh;
}
.sideMenu {
}

.linkCard {
  text-decoration: none;
}
