.body {
  background-color: #0f103f;
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 1.5rem;
  min-width: 130vh;
  min-height: 60vh;
  padding: 1rem;
  /* gap: 2rem; */
  margin-left: 12vh;
}

.linkCard {
  text-decoration: none;
}
