/* BG Small Circle */
.body {
  /* display: flex; */
  overflow: hidden;
  /* background-color: red; */
  position: absolute;
  left: 40vh;
  height: 65vh;
  margin-top: -45rem;
}

.circulos {
  /* bottom: -110vh; */
  z-index: 1;
  /* max-width: 900px; */
  /* background-color: beige; */
}

.imgCirculo {
  width: 120vh;
  height: 85vh;
}
