.allContainer {
  width: 80%;
  color: #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8px;
}

.title,
.subTitle {
  /* text-decoration: underline; */
  margin-top: 10px;
  text-shadow: 0px 0px 10px #c961de;
}

.title {
  font-size: 40px;
  margin: 20px 0;
}

.subTitle {
  font-size: 30px;
  margin: 15px 0;
}

.paragraphContainer {
  width: 80%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paragraph {
  margin-bottom: 20px;
}

.teamContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.memberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoContainer {
  height: 150px;
  width: 150px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 45%;
  border: 4px solid #c961de;
}

.photo {
  width: 160px;
  height: 160px;
}

.name {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #c961de;
  text-shadow: 0px 0px 5px #ffffff66;
}
