.buttonLg {
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  width: 25vh;
  height: 7vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 17px;
  align-items: center;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  margin-top: 8vh;
}
