.container {
  padding-top: 1vh;
  background-color: #2f2f8a;
  border-bottom-right-radius: 13%;
  border-bottom-left-radius: 13%;
}
.divGen {
  display: flex;
  height: 7vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.puntuacion {
  border-radius: 4px;
}
.logo {
  position: absolute;
  width: auto;
  height: 10vh;
  margin-left: 0.8vw;
  border-radius: 50px;
}
