.inputContainer > p,
.inputContainer > input {
  font-size: 18px;
  font-weight: 800;
  font-family: "Poppins";
  color: rgb(0, 0, 0);
}
.inputContainer_1fila > p,
.inputContainer_1fila > input {
  font-size: 18px;
  font-weight: 800;
  font-family: "Poppins";
  color: rgb(0, 0, 0);
}
.divEnglish > p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}
.divSelectContainer > p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  /* min-height: 7vh; */
}

.ingles1 {
  font-family: "Poppins";
  color: rgb(7, 207, 0);
  font-weight: bold;
}
.ingles2 {
  font-family: "Poppins";
  color: rgb(187, 255, 0);
  font-weight: bold;
}
.ingles3 {
  font-family: "Poppins";
  font-weight: bold;
  color: rgb(238, 255, 0);
}
.ingles4 {
  font-weight: bold;
  font-family: "Poppins";
  color: rgb(250, 150, 1);
}
.ingles5 {
  font-weight: bold;
  font-family: "Poppins";
  color: rgb(255, 0, 0);
}
.divErrors {
  padding-top: 0.5rem;
  /* background-color: red; */

  width: 16vw;
}
.errors {
  font-family: monospace;
  color: rgb(255, 0, 0);
  /* min-width: 0.5vh; */
  font-size: 0.5vw;
  background-color: #2a2a2abb;
  border-radius: 10px;
  margin-bottom: 10vh;
  /* font-weight: bold; */
  width: 20vw;
}

.divGeneral {
  background: #0f103f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputForm {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 11%;
  font-size: 1px;
}
.divForm {
  box-sizing: border-box;
  position: relative;
  width: 50vw;
  height: 94vh;
  border: 1px solid;
  background: #ffffff76;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 50px;
  flex-direction: row;
  flex-wrap: wrap;
}
.inputName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputLastname {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputImg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputEmail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputLinkedin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputGithub {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputWebsite {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
  width: 80%;
}
.inputExperience {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
}
.inputPrice {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
}
.inputEnglish {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3px 14px;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(2, 4, 6, 0.15);
  border-radius: 10px;
  border-color: hsl(0, 0%, 80%);
}

.select {
  /* background-color: grey;
  background: grey; */
  min-height: 1rem;
  width: 21vw;
  background-color: #ffffff;
  border-radius: 8px;
}

.select option {
  /* color: red; */
  /* background-color: red; */
  /* max-width: ; */
}

.inputContainer_1fila,
.inputContainer {
  width: 26%;
  min-height: 12vh;

  /* font-size: 20vw; */
}
.inputContainer_1fila p,
.inputContainer p {
  font-size: 0.9vw;
}
.inputContainer_1fila input,
.inputContainer_1fila input::placeholder .inputContainer input,
.inputContainer input::placeholder {
  /* background-color: #58565661; */
  font-size: 0.8vw;
}

.divEnglish {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 20px 0;
}

.divEnglishLevel {
  display: flex;
  align-items: center;
  gap: 16px;
}
.divSelectContainer {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 10px; */
  /* height: auto; */
  margin-bottom: 3vh;
  width: 14vw;
  min-height: 10vh;
}

.container_selector {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.buttonCreate:enabled {
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  width: 20vh;
  height: 5vh;
  background: linear-gradient(101.81deg, #c961de 25.84%, #3645a0 98.95%);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  border: 1px solid black;
  color: rgb(0, 0, 0);
}
.buttonCreate:hover:enabled {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}
.buttonCreate:disabled,
.buttonReset {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 20vh;
  height: 5vh;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.buttonReset:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  transform: scale(1.1);
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.select options {
  background-color: red;
}

.carga {
  background-color: red;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.addImg {
  /* background-color: red; */
  display: none;
}
.divInput {
  border-radius: 50%;
  border: 1px solid rgb(11, 1, 1);
  display: inline-block;
  /* padding: 6px 12px; */
  cursor: pointer;
  height: 10vh;
  width: 5vw;
  font-size: 4vw;
  text-align: center;
}

.divImg {
  object-fit: cover;
  text-align: center;
  overflow: hidden;
  height: 10vh;
  width: 5vw;
  border-radius: 50%;
  border: 0.5vh solid #0f103f8e;
  /* display: inline-block; */
}
.inputContainer_1fila {
  min-height: 15vh;
}
.imgForm {
  height: 10vh;
  width: 5vw;
  border-radius: 50%;
  /* border: 1px solid rgb(11, 1, 1); */
  display: inline-block;
  position: absolute;
  /* margin-bottom: 20vh; */
  margin-left: -5.2vh;
  z-index: 20;
  object-fit: cover;
  overflow: hidden;
}

.divImg {
  object-fit: cover;
  text-align: center;
  overflow: hidden;
  height: 10vh;
  width: 5vw;
  border-radius: 50%;
  border: 0.5vh solid #0f103f8e;
  /* display: inline-block; */
}

.buttonImg {
  color: red;
  border: 1px solid black;
  border-radius: 50% black;
  border: none;
  background: none;
  cursor: pointer;
  float: right;
  font-size: 1vw;
  position: absolute;
  margin-left: 4vw;
  /* bottom: 0.1vh; */

  /* border-radius: 50%; */
}
.lds_ring {
  margin-top: 0.5vh;
  margin-left: -4vh;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 4vw;
  height: 8vh;
  z-index: 1;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0f103f02;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0f103f transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.barra span {
  width: 25%;
}
.barra {
  top: 1vh;
  height: 0.5vw;
  position: relative;
  background: #555;
  border-radius: 0.8vw;
  padding: 0.2vw;
}
.barra > span {
  display: block;
  height: 100%;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  background-color: #0f103f8e;
  position: relative;
  overflow: hidden;
  animation: prog 3.2s ease-in;
  animation-iteration-count: infinite;
}
@keyframes prog {
  0% {
    width: 0%;
    /* background-color: rgb(240, 255, 104); */
  }
  100% {
    width: 100%;
  }
}
